# --- Файл: .gitignore ---

# Файлы окружения (содержат секретные ключи)
.env
*.env

# Логи
/logs/
*.log

# Виртуальное окружение
venv/
.venv/

# Файлы сессий
*.gpcs

# Игнорирование специфичных для IDE файлов
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Дистрибутивы и пакеты
/dist/
/build/
/eggs/
/*.egg-info/
/sdist/
/wheel/
/pip-wheel-metadata/
/share/python-wheels/
/*.egg
/parts/
/bin/
/include/
/lib/
/lib64/
/local/
/man/
/pip-selfcheck.json
/lib/python*/

# Установщики
*.manifest
*.spec

# Кэш PyInstaller
/pyinstaller/
/pyinstaller-build/